body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FF9966, #FF0066);
    font-family: sans-serif;
  }

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    direction: rtl;
    background: linear-gradient(to bottom, #666699, #669999);
    /* background-color: #CC3399; */
}



.list {
    background: linear-gradient(to bottom, #F1A7BE,#E37295);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    width: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}


.list-link {
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 10px;
}

.remove-button {
    margin-top: 10px;
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.remove-button:hover{
    background-color: black;
}


.showcase-checklists {
    margin-top: 20px;
}

.checklist-title {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checklist-item input[type="checkbox"] {
    margin-right: 10px;
}

/* Center the entire ShowCards component */
.showcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-item {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align: right;
    text-decoration: none;
    background: linear-gradient(to bottom, #B1B8E2, #7585E1);
}

.card-item a:hover{
    color: #ff6666;
}


.add-item-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: left;
    margin-left: 26%;
}

.add-item-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}


.add-list-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.add-list-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}


.add-card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.add-card-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}



/* .add-list{
    margin: '10px';
    padding: '10px';
    width: '200px'; 
    height: '60px'; 
    border: '2px solid #ccc';
    border-radius: '20px'
} */

.add-list-container {
    position: relative;
    margin-top: 30px;
}

.add-list-container button{
    margin-top: auto;
    /* position:static; */
}

.add-list {
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: #333;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background-color: black;
    transform: translate(-50%, -50%);
    /* Other styles */
  }
  
  .modal-content {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    max-height: 80vh; /* Adjust as needed */
    max-width: 80vw; /* Adjust as needed */
    overflow: auto;
    padding: 20px; /* Add padding to the content if necessary */
  }

  *{
    box-sizing: border-box;
  }