.card-container-parent{
  max-width: auto;
  min-height: auto;
  /* background-color: #c5e1fe; */

}
.card-container {
    left: auto;
    right: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: auto;
    position: relative; /* Add this line for relative positioning */
    height: auto;

}

.add-to-card {
    background: linear-gradient(to bottom, #8FE5B5, #CCE0D5);
    width: 200px;
    margin: auto;
    padding: 4px;
    border: 5px solid sandybrown;
    /* align-items: center; */
    border-radius: 8px;
    text-align: center;
    margin-right: auto;
    position: absolute; /* Position absolutely */
    top: 20px; /* Position from the top */
    font-family: 'Vazirmatn';

    /* left: 10%; */
}


.add-to-card .members, .labels, .atc-checklist, .dates{
    /* width: calc(30% - 3px); */
    width: 150px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    justify-content: left;
    position: relative;
}


.label-dropdown {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.current-label {
  margin-bottom: 10px;
}

.choose-another {
  margin-top: 5px;
  color: #666;
}

.no-label {
  margin-bottom: 10px;
}

.choose-label {
  margin-top: 5px;
  color: #666;
}

.label-colors {
  display: flex;
  gap: 5px;
}

.label-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* Add color styles for each label */
.label-color.green {
  background-color: green;
}

.label-color.yellow {
  background-color: yellow;
}

.label-color.orange {
  background-color: orange;
}

.label-color.red {
  background-color: red;
}

.label-color.purple {
  background-color: purple;
}

.label-color.blue {
  background-color: blue;
}



.join-card-button {
  margin-left: 800px; /* Adjust the margin as needed */
}

.join-card-button button {
  background-color: orange;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-card-button button:active {
  background-color: darkorange;
}

.join-card-button button.joined {
  background-color: green;
}

.join-card-button button.joined:active {
  background-color: darkgreen;
}
.card-details {
    background: linear-gradient(to bottom, #B4BEE9, #8B9BDF);
    width: auto; /* Adjust the width based on your preference */
    /* Rest of your styles for card-details */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add these lines for proper alignment */
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 60%; /* Add margin for spacing between card-details and add-to-card */
    margin-right: 10px;
    height: auto;
}




.card-title {
    font-size: 24px;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
    text-align:'right';
}


.remove-card-button {
  margin: 10px 5px;
  padding: 8px 16px;
  border: none;
  background-color: #e74c3c; /* Crimson color */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  font-family: 'shabnam';
  font-size: 12px;
  margin-left: auto;
  margin-right: 5%; 
  }

.list-name {
    font-size: 14px;
    color: #777;
    margin-left: 32px;
}



.card-members {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.members-header {
  display: flex;
  align-items: center;
}

.member-circle-container {
  display: flex;
  justify-content: flex-end;
}

.member-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: -10px; /* Negative margin to create overlap */
  overflow: hidden;
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.member-color {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light background color */
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.member-name {
  display: none;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  transition: transform 0.2s ease-in-out;
}

.member-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 50%;
  z-index: -1;
}

.member-circle:hover {
  transform: scale(1.2);
  z-index: 1;
}

.member-circle:hover .member-color {
  visibility: hidden;
  opacity: 0;
}

.member-circle:hover .member-name {
  display: inline-block;
}





.listItem {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.section-title {
    margin-top: 40px;
    font-size: 18px;
    margin-left: 32px;
}
.description-input {
    margin-right: auto;
    /* margin-left: 32px; */
    text-align: right;
    size: 100px;

}

.description-input input{
    /* margin-right: auto;
    margin-left: 32px; */
    text-align: right;

}

.card-description {
    width: 35%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.card-description-active {
    width: 35%;
    padding: 10px;
    border: 1px solid #007bff; /* Blue border color */
    border-radius: 4px;
}

.description-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.description-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}





.showcase-checklists {
  margin-top: 40px;
  display: flex;
  justify-content: space-between; /* Keep 'activity' and 'checklist' sections apart */
}

.activity {
  width: 40%;
  background: linear-gradient(to bottom, #B2CFDC, #91CFE8);
  /* Remove the height property */
  max-height: 300px;
  /* height: 150px; */
  overflow-y: auto; /* Add scroll if content exceeds the max-height */
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right;
}


.activity-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.activity-input {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  direction: rtl;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}


.activity-list {
  list-style-type: none;
  padding: 0;
}

.activity-message {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.checklist {
  width: auto; /* Adjust the width as needed */
  max-width: 320px; /* Set a maximum width */
  background: linear-gradient(to bottom, #DCB2CF, #E891CF);
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right;
}
.checklist-title {
  font-size: 16px;
  margin: 10px 0;
}

.checklist-item {
  display: flex;
  align-items: right;
  text-align: right;
  margin-bottom: 8px;
}





.button-and-search-container {
  display: flex;
  align-items: center;
}

.custom-button {
  width: 40px; /* Adjusted width */
  height: 30px; /* Adjusted height */
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049;
}

.custom-textfield {
  width: 80px; /* Adjusted width */
  height: 25px; /* Adjusted height */
  margin: 0;
  direction: rtl;
}

.custom-textfield input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.remove-item-button {
  background-color: #ff3333;
  color: white;
  border: none;
  border-radius: 4px; /* Adjusted border-radius */
  padding: 5px 10px; /* Increased padding for better visibility */
  margin-right: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2%;
  margin-bottom: 2%;
}

.remove-item-button:hover {
  background-color: #d9534f; /* Darker red on hover */
}



/* .clock-date-container{
    border-radius: 25%;
} */

.checklist-item input[type="checkbox"] {
  margin-right: 10px;
  text-align: right;
}

.checklist-item label {
  font-size: 16px;
  text-align: right;
  margin-right: 5px;
  margin-left: auto;
}

.checklist-item input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #999;
}





span.no-items-message {
  display: inline-block;
  padding: 8px 16px;
  background-color: #FFD2C2; /* Warm background color */
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  margin-right: 20px;
  color: #7E7E7E; /* Text color */
  /* justify-content: center; */
}





.add-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-item-input {
  width: 200px;
  height: 40px;
  direction: rtl;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item-save,
.add-item-button {
  width: auto;
  height: auto;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'shabnam';
}

.add-item-save {
  background-color: #72db76; /* Green color for Save button */
}

.add-item-save:hover {
  background-color: #38a03c; /* Green color for Save button */
}


.add-item-button {
  background-color: #a13da8; /* Blue color for Add Item button */
}


.add-item-button:hover {
  background-color: #6d2e72;
  font-size: 11px; /* Adjust the font size on hover if needed */
}

.add-item-button {
  font-size: 10px;
}






.add-checklist-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-checklist-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-checklist-input-container {
  display: flex;
  gap: 10px;
}

.add-checklist-input {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

.add-checklist-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-checklist-button:hover {
  background-color: #45a049;
}










.checklist-message {
  background-color: #aedbe7; /* Light gray background color */
  border: 1px solid #bdc3c7; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding around the text */
  display: inline-block; /* Make it inline-block to wrap the content */
  margin: 10px 0; /* Margin around the whole element */
  width: 280px;
  text-align: center;
  max-height: 50px;
  margin-right: 30px;
  margin-left: auto;
}



.add-member{
    margin: 12px 10px;
    padding: 8px 12px;
    border: none;
    /* background-color: #007bff; */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* margin-top: 20%; */
    display: flex;
    margin-left: auto;
    /* justify-content: right; */
    /* margin-left: 42%; */
    margin-right: 0%;
}


.custom-button {
  width: 50px;
  height: 40px;
  margin-right: 10px;
  background-color: #4CAF50; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.custom-button:hover {
  background-color: #45a049; /* Change the color on hover */
}


.custom-textfield {
  width: 150px;
  height: 40px;
  direction: rtl;
  margin: 10px; /* Add margin as needed */
}

.custom-textfield input {
  padding: 8px; /* Adjust padding for input field */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-textfield .MuiInputAdornment-root {
  color: #555; /* Adjust color for the search icon */
}




.add-member-button {
  margin: 10px 5px;
  padding: 8px 16px;
  border: none;
  background-color: #3498db; /* Blue color */
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-left: auto;
  
  font-family: 'shabnam';
  font-size: 10px;
}

.add-member-button:hover {
  background-color: #2980b9; /* Darker blue color on hover */
}

.remove-member-button {
    background-color: #ff3333; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 20%; /* Rounded border */
    padding: 2px 6px; /* Padding to make it visually smaller */
    margin-left: 5px; /* Add some space to separate it from the member name */
    cursor: pointer; /* Change cursor to pointer on hover */
    
    margin-top: 5%;
    margin-bottom: 5%;
    
}
  
  /* Style the "X" button on hover */
  .remove-member-button:hover {
    background-color: #cc0000; /* Darker red on hover */
  }


.remove-checklist-button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20%;
    display: flex;
    justify-content: left;
    margin-left: 42%;
}

.dropbtn {
    background-color:darkslategrey;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 11rem;
    font-size: 12px;
    border: black;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .start-date {
    color: #ff5733; /* Change the color to your preference */
    font-weight: bold; /* Add other styles as needed */
  }
  
  .due-date {
    color: #3366ff; /* Change the color to your preference */
    font-weight: bold; /* Add other styles as needed */
  }




  /* Styles for the date picker labels */
.date-picker-label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Styles for the date picker input fields */
.date-picker-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

/* Styles for the "انتخاب تاریخ شروع" and "انتخاب تاریخ پایان" paragraphs */
.date-picker-text {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Styles for the date picker buttons (if applicable) */
.date-picker-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.date-picker-button:hover {
  background-color: #45a049;
}


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



/* Label colors */
.label-colors {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    margin-top: 10px;
  }
  
  .label-color {
    width: 100%; /* Set the width to 100% to take up the full width */
    height: 30px; /* Adjust the height as needed */
    margin-bottom: 5px; /* Adjust the margin between colors and the next line */
    border-radius: 5px; /* Add some border radius for a rectangular shape */
    cursor: pointer;
  }
  
  
  .green {
    background-color: #90EE90;
  }
  
  .yellow {
    background-color:  #e6e600;
  }
  
  .orange {
    background-color: #FFA500;
  }
  
  .red {
    background-color: #FF6347;
  }
  
  .purple {
    background-color: #800080;
  }
  
  .blue {
    background-color: #6A5ACD;
  }








  .options-toggle {
    cursor: pointer;
    position: relative;
  }
  
  .circle {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle span {
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  /* .options-container,
  .options-dropdown,
  .clock-date-container {
    display: none;
  }
  
  .checklist-item:hover .options-container,
  .checklist-item:hover .options-dropdown,
  .checklist-item:hover .clock-date-container {
    display: block;
  } */
  
  
  .options-dropdown {

    position: absolute;
    top: 30px; /* Adjust the top position as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .option-button {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .option-button:hover {
    background-color: #eee;
  }
  