.card-container {
    left: auto;
    right: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: auto;
    position: relative; /* Add this line for relative positioning */
    height: auto;

}

.add-to-card {
    background: linear-gradient(to bottom, #8FE5B5, #CCE0D5);
    width: 200px;
    margin: auto;
    padding: 4px;
    border: 5px solid sandybrown;
    /* align-items: center; */
    border-radius: 8px;
    text-align: center;
    margin-right: auto;
    position: absolute; /* Position absolutely */
    top: 20px; /* Position from the top */

    /* left: 10%; */
}


.add-to-card .members, .labels, .atc-checklist, .dates{
    /* width: calc(30% - 3px); */
    width: 150px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    justify-content: left;
    position: relative;
}


.card-details {
    background: linear-gradient(to bottom, #B4BEE9, #8B9BDF);
    width: auto; /* Adjust the width based on your preference */
    /* Rest of your styles for card-details */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add these lines for proper alignment */
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 60%; /* Add margin for spacing between card-details and add-to-card */
    margin-right: 10px;
    height: auto;
}




.card-title {
    font-size: 24px;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
    text-align:'right';
}


.remove-card-button{
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color:crimson;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    /* justify-content: left; */
    /* margin-right: auto; */
    margin-left: auto;
    margin-right: 5%;   
}

.list-name {
    font-size: 14px;
    color: #777;
    margin-left: 32px;
}

.card-members {
    margin-top: 30px;
    margin-left: 32px;
}


.listItem {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.section-title {
    margin-top: 40px;
    font-size: 18px;
    margin-left: 32px;
}
.description-input {
    margin-right: auto;
    /* margin-left: 32px; */
    text-align: right;
    size: 100px;

}

.description-input input{
    /* margin-right: auto;
    margin-left: 32px; */
    text-align: right;

}

.card-description {
    width: 35%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.card-description-active {
    width: 35%;
    padding: 10px;
    border: 1px solid #007bff; /* Blue border color */
    border-radius: 4px;
}

.description-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.description-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}





.showcase-checklists {
    margin-top: 40px;
    /* margin-left: 60%; */
    display: flex;
}


.activity {
  width: 40%; /* Adjust the width as needed */
  background: linear-gradient(to bottom, #B2CFDC, #91CFE8); /* Adjust colors as needed */
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right;
}


.activity-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.activity-input {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  direction: rtl;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}


.activity-list {
  list-style-type: none;
  padding: 0;
}

.activity-message {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.checklist {
  width: 45%; /* Adjust the width as needed */
  background: linear-gradient(to bottom, #DCB2CF, #E891CF);
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right;
}

.checklist-title {
    font-size: 16px;
    margin: 10px 0;
}

.checklist-item {
    display: flex;
    align-items: right;
    text-align: right;
    margin-bottom: 8px;
}


.remove-item-button{
    background-color: #ff3333; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 20%; /* Rounded border */
    padding: 1px 3px; /* Padding to make it visually smaller */
     /* Add some space to separate it from the member name */
    margin-right: auto;
    
    cursor: pointer; /* Change cursor to pointer on hover */
    
    margin-top: 2%;
    margin-bottom: 2%;
}



/* .clock-date-container{
    border-radius: 25%;
} */

.checklist-item input[type="checkbox"] {
    margin-right: 10px;
    text-align: right;
} 

.checklist-item label { /*this is for item.name*/
    font-size: 16px;
    text-align: right;
    margin-right: 5px;
    margin-left: auto;
} 
 
.checklist-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
    align-items: right;
    margin-right: 2px;
}






.add-item-button{
    width: 85px;
    height: 28px;
    background-color: white;
    border-radius: 4px;
    margin-top: 5px;
}
.add-item-button:hover{
    background-color: grey;
}


.add-checklist-button{
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color:darkviolet;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    margin-right: auto;
    margin-left: auto;
}
.add-checklist-button:hover{
    background-color: grey;
}


.add-member{
    margin: 12px 10px;
    padding: 8px 12px;
    border: none;
    /* background-color: #007bff; */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* margin-top: 20%; */
    display: flex;
    margin-left: auto;
    /* justify-content: right; */
    /* margin-left: 42%; */
    margin-right: 0%;
}




.add-member-button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* margin-top: 20%; */
    display: flex;
    margin-left: auto;
    /* justify-content: right; */
    /* margin-left: 42%; */
    margin-right: 0%;
}


.remove-member-button {
    background-color: #ff3333; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 20%; /* Rounded border */
    padding: 2px 6px; /* Padding to make it visually smaller */
    margin-left: 5px; /* Add some space to separate it from the member name */
    cursor: pointer; /* Change cursor to pointer on hover */
    
    margin-top: 5%;
    margin-bottom: 5%;
    
}
  
  /* Style the "X" button on hover */
  .remove-member-button:hover {
    background-color: #cc0000; /* Darker red on hover */
  }


.remove-checklist-button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20%;
    display: flex;
    justify-content: left;
    margin-left: 42%;
}

.dropbtn {
    background-color:darkslategrey;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 11rem;
    font-size: 12px;
    border: black;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



/* Label colors */
.label-colors {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    margin-top: 10px;
  }
  
  .label-color {
    width: 100%; /* Set the width to 100% to take up the full width */
    height: 30px; /* Adjust the height as needed */
    margin-bottom: 5px; /* Adjust the margin between colors and the next line */
    border-radius: 5px; /* Add some border radius for a rectangular shape */
    cursor: pointer;
  }
  
  
  .green {
    background-color: #90EE90;
  }
  
  .yellow {
    background-color:  #e6e600;
  }
  
  .orange {
    background-color: #FFA500;
  }
  
  .red {
    background-color: #FF6347;
  }
  
  .purple {
    background-color: #800080;
  }
  
  .blue {
    background-color: #6A5ACD;
  }








  .options-toggle {
    cursor: pointer;
    position: relative;
  }
  
  .circle {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle span {
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  .options-dropdown {
    position: absolute;
    top: 30px; /* Adjust the top position as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .option-button {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .option-button:hover {
    background-color: #eee;
  }
  