.timeline {
  overflow-x: auto;
}

.timeline-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.timeline-table th,
.timeline-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.list-name {
  font-weight: bold;
}

.dates-timeline {
  display: flex;
  flex-wrap: wrap;
}

.card-timeline {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin: 5px 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

.date-range {
  font-size: 12px;
  margin-bottom: 5px;
}

.date-format {
  font-size: 10px;
  color: #888;
}

.card-title {
  font-size: 14px;
}

.card-timeline:hover {
  background-color: #2980b9;
  transition: background-color 0.3s ease-in-out;
}
