.workspace-container {
  background-color: white;
  padding: 20px;
}

.boards-container {
  display: flex;
  flex-direction: column;
}

.user-boards-container,
.other-boards-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add margin between user's boards and all other boards */
}

.user-boards,
.other-boards {
  display: flex;
}

.board {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.create-board {
  border: 2px dashed #ccc;
  background-color: #f8f8f8;
}

.create-board:hover {
  border: 2px dashed #999;
}

.create-board p {
  font-style: italic;
}

.create-board-container {
  margin-top: 20px;
}

/* Add styling specific to the user's boards and all other boards if needed */
.user-boards {
  /* Add specific styling for user's boards if needed */
}

.other-boards {
  /* Add specific styling for all other boards if needed */
}