.card-container {
    left: auto;
    right: 50%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: 1200px;
    position: relative; /* Add this line for relative positioning */
    height: 1000px;
}

.add-to-card {
    background: linear-gradient(to bottom, #8FE5B5, #CCE0D5);
    width: 200px;
    margin: auto;
    padding: 4px;
    border: 5px solid sandybrown;
    /* align-items: center; */
    border-radius: 8px;
    text-align: center;
    margin-right: auto;
    position: absolute; /* Position absolutely */
    top: 20px; /* Position from the top */

    /* left: 10%; */
}


.add-to-card .members, .labels, .atc-checklist, .dates{
    /* width: calc(30% - 3px); */
    width: 150px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    justify-content: left;
    position: relative;
}


.card-details {
    background: linear-gradient(to bottom, #B4BEE9, #8B9BDF);
    width: calc(60% - 20px); /* Adjust the width based on your preference */
    /* Rest of your styles for card-details */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add these lines for proper alignment */
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 20px; /* Add margin for spacing between card-details and add-to-card */
    margin-right: auto;
    height: auto;
}




.card-title {
    font-size: 24px;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
}

.list-name {
    font-size: 14px;
    color: #777;
    margin-left: 32px;
}

.card-members {
    margin-top: 30px;
    margin-left: 32px;
}



.section-title {
    margin-top: 40px;
    font-size: 18px;
    margin-left: 32px;
}
.description-input {
    margin-right: auto;
    margin-left: 32px;
    text-align: right;

}

.description-input input{
    /* margin-right: auto;
    margin-left: 32px; */
    text-align: right;

}

.card-description {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.card-description-active {
    width: 50%;
    padding: 10px;
    border: 1px solid #007bff; /* Blue border color */
    border-radius: 4px;
}

.description-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-left: auto;
}

.description-buttons button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}





.showcase-checklists {
    margin-top: 40px;
    margin-left: 60%;
}



.checklist-title {
    font-size: 16px;
    margin: 10px 0;
}

.checklist-item {
    display: flex;
    align-items: right;
    text-align: right;
    margin-bottom: 8px;
}

.checklist-item input[type="checkbox"] {
    margin-right: 10px;
    text-align: right;
} 

.checklist-item label { /*this is for item.name*/
    font-size: 16px;
    text-align: right;
    margin-right: 5px;
    margin-left: auto;
} 
 
.checklist-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
    align-items: right;
    margin-right: 2px;
}


.checklist {
    background: linear-gradient(to bottom, #DCB2CF,#E891CF);
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: right;
}



.add-item-button{
    width: 85px;
    height: 28px;
    background-color: white;
    border-radius: 4px;
    margin-top: 5px;
}
.add-item-button:hover{
    background-color: grey;
}


.add-checklist-button{
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color:darkviolet;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    margin-right: auto;
    margin-left: auto;
}
.add-checklist-button:hover{
    background-color: grey;
}


.add-member{
    margin: 12px 10px;
    padding: 8px 12px;
    border: none;
    /* background-color: #007bff; */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* margin-top: 20%; */
    display: flex;
    margin-left: auto;
    /* justify-content: right; */
    /* margin-left: 42%; */
    margin-right: 0%;
}




.add-member-button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    /* margin-top: 20%; */
    display: flex;
    margin-left: auto;
    /* justify-content: right; */
    /* margin-left: 42%; */
    margin-right: 0%;
}





.remove-checklist-button {
    margin: 10px 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20%;
    display: flex;
    justify-content: left;
    margin-left: 42%;
}

.dropbtn {
    background-color:darkslategrey;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 11rem;
    font-size: 12px;
    border: black;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}